@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

html{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/* Header */

.nav-elements{
    background-color: #74A4D4;
    padding: 10px;
}

/* Nav1 */

.nav1-container{
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.nav1-items-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
    margin-left: 150px;
}

.nav1-items{
    text-decoration: none;
    color: #EDF3F9;
    margin-right: 10px;
    font-size: 1.25em;
}

.nav1-items:hover{
    transition: .3s font-size;
    font-size: larger;
    margin-right: 1px;
}

.ingresar-btn{
    text-decoration: none;
    background-color: #EDF3F9;
    color: #000;
    font-weight: 600;
    padding: 10px;
    padding-left: 20px;
    margin-left: 50px;
    width: 85px;
    border-radius: 10px;
    font-size: 1.3rem;
}

.logo{
    width: 15%;
    cursor: pointer;
}

.nav2-oculto-container{
    background-color: #74A4D4;
    font-size: 1.5em;
    display: flex;
    gap: 1em;
    transition: height 0.5s ease-in-out;
    height: 0;
    overflow: hidden;
    margin: 0;

}


.nav2-items{
    text-decoration: none;
    color: #EDF3F9;
}

.nav2-items:hover{
    transition: .5s font-size;
    font-size: ;
    margin-right: 1px;
}

.nav2--show{
    opacity: 1;
    z-index: 1;
    position: absolute;
    top: 80px;
    left: 0px;
    width: 100%;
    justify-content: space-evenly;
}


/* Header body */

header{
    background-color:#0F5499;
}

.header-body{
    max-height: 400px;
}

.bienvenida-container{
    text-align: center;
}


.bienvenida-img-container{
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44), url(../img/img1.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(217, 89%, 61%, 0.795), hsla(219, 11%, 24%, 0.795)), url(../img/img1.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    max-height: 620px;
    z-index: 1;
    background-size: cover;
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 83% 50%, 50% 69%, 13% 50%, 0% 35%, 0 0);
    
}

.bienvenida-img{
    width: 1310px;
    opacity: 0;
}

.bienvenida-textos{
    position: relative;
    top: -625px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.title{
    font-size: 4em;
    color: #EDF3F9;
}

.subtitle-container{
    max-width: 800px;
}

.subtitle{
    font-size: 1.5em;
    color: #EDF3F9;
}

hr{
    border-color: #ccc;
    margin-top: 30px;
}

/* Main */

main{
    background-color: #0F5499;
}

.main-container{
    background-color: #0F5499;
}

/* Main header */

.main-header{
    display: flex;
    flex-direction: row;
    padding: 10px;
    max-height: 600px;
}

.text-container{
    text-align: center;
    align-items: center;
    margin-top: 5%;
}

.second-title{
    font-size: 4.5em;
    font-weight: 600;
    color: #EDF3F9;
}

.second-text{
    font-size: 2em;
    font-weight: 300;
    color: #EDF3F9;
}

.imagen-importante{
    width: 600px;
    margin: 50px;
    border-radius: 100px;
    border: #EDF3F9 solid;
    border-width: 10px;
    padding: 0;
}

/* Main body */

.main-body{
    max-height: 1000px;
}

.slider-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
    margin-top: auto;
}

.slider-imgs{
    position: absolute;
    width: 800px;
    margin-bottom: auto;
    border-radius: 50px;
    border: #EDF3F9 solid;
    border-width: 5px;
    opacity: 0;
}

.slider-imgs--show{
    transition: 1s opacity ease-in-out;
    opacity: 1;
}

.slider-img--show{
    opacity: 1;
}

.slider-arrows{
    width: 10%;
    cursor: pointer;
}





.slider-arrow-left{
    position: absolute;
    transition: .5s left;
    left: 10px;
}

.slider-arrow-left:hover{
    transition: .5s left ;
    left: -10px;
}
.slider-arrow-right{
    position: absolute;
    transition: .5s right;
    right: 10px;
}

.slider-arrow-right:hover{
    transition: .5s right ;
    right: -10px;
}


/* Main footer */

.main-footer{
    background-color:#0F5499;
}

.hover-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.hover-title{
    font-size: 3em;
    color: #EDF3F9;
}

.galeria-imgs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5em;
    margin-top: 30px;
    height: auto;
}

.imagen-galeria{
    height: 160px;
    margin-bottom: 150px;
}

.imagen-galeria > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: #EDF3F9 solid;
    border-radius: 10px;
    border-width: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 2);
}

.hover-imgs{
    max-height: 150px;
}


.hover-galeria{

    display: flex;
    flex-direction: column;
    position: inherit;
    position: relative;
    top: -155px;
    left: 5px;
    width: 42%;
    height: 38%;
    padding: 50px 80px 40px 75px;
    
    transform: scale(0);
    background-color:#0f5499ae;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    color: #EDF3F9;
}

.imagen-galeria:hover .hover-galeria{
    transform: scale(1);
}





/* Footer */

/* Footer contact */

.foo-container{
    background-color: #052240;
}

.foo-contact{
    display: flex;
    flex-direction: column;
    max-height: auto;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer-title-container{
    text-align: center;
    font-size: 1.5em;
    color: #EDF3F9;
}

.inputs-container{
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-top: 10px;
}

.email-input{
    padding: 0 10px 0 10px;
    height: 30px;
    margin: auto;
    border-radius: 10px;
    border: none;
}


.message-input{
    height: 75px;
    border-radius: 10px;
    border: none;
}

.sub-button{
    height: 40px;
    width: 80px;
    margin-top: auto;
    border: none;
    border-radius: 5px;
    background-color: #DAE6F2;
    font-weight: 800;
    cursor: pointer;
}

/* Footer footer */

.social-media-container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.social-media-icons{
    width: 3%;
    cursor: pointer;
}

.facebook-icon:hover{
    opacity: 60%;
}
.instagram-icon:hover{
    opacity: 60%;
}
.twitter-icon:hover{
    opacity: 60%;
}

.footerNav-elements-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.foo-nav-items{
    color: #DAE6F2;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5em;
}

.foo-nav-items:hover{
    transition: .3s font-size;
    font-size: 2em;
    margin-right: 1px;
}

.footer-for-gap{
    display: flex;
    flex-direction: row;
    gap: 5em;
    margin-top: 10px;
}

.return-up-button{
    width: 5%;
    position: absolute;
    left: 0;
    top: 2450px;
    padding-left: 10px;
    cursor: pointer;
}

/* Whatsapp exception */

.whatsapp-item{
    background-color: #00c420;
    border-radius: 50%;
    width: 7.5%;
    padding: 5px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 100;
    cursor: pointer;
}

@media(max-width: 800px){

    html, body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width: 100%;
    }
    .nav1-container{
        gap: 0;
    }

    .nav1-items-container{
        margin-left: 30px;
        gap: 2em;
        font-size: .75em;
    }

    .nav2--show{
        margin-top: -30px;
    }

    .ingresar-btn{
        font-weight: 400;
        padding: 10px;
        padding-left: 20px;
        margin-left: 50px;
        width: 70px;
        border-radius: 10px;
        font-size: 1rem;
    }

    .title{
        margin-top: 100px;
        font-size: 2.5em;
    }

    .subtitle-container{
        max-width: 600px;
    }

    .subtitle{
        font-size: 1em;
    }

    .text-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1em;
    }

    .second-title{
        font-size: 1.5em;
        width: max-content;
    }

    .second-text{
        font-size: 1em;
    }

    .imagen-importante-container{
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: center;
    }

    .imagen-importante{
        width: 85%;
        border-radius: 35px;
        margin: 0;
    }

    .slider-container{
        max-height: 500px;
        margin-top: 10px;
    }

    .slider-imgs{
        max-width: 500px;
        max-height: 500px;
    }

    .hover-container{
        max-width: 800px;
    }

    .galeria-imgs{
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        
    }

    .return-up-button{
        position: absolute;
        top: 2200px;
        left: 20px
    }

    .whatsapp-item{
        width: 7.5%;
        padding: 5px;
        position: fixed;
        
        
    }

}

@media(max-width: 500px){
    html, body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width: 110%;
    }
    .nav1-container{
        gap: 0;
    }

    .nav1-items-container{
        margin-left: 30px;
        gap: .25em;
        font-size: 1em;
    }

    .logo{
        height: 10%;
    }

    .nav2--show{
        margin-top: -30px;
    }

    .ingresar-btn{
        font-weight: 400;
        padding: 10px;
        padding-left: 20px;
        margin-left: 50px;
        width: 70px;
        border-radius: 10px;
        font-size: 1rem;
    }

    .title{
        margin-top: 100px;
        font-size: 2.5em;
    }

    .subtitle-container{
        max-width: 600px;
    }

    .subtitle{
        font-size: 1em;
    }

    .text-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1em;
    }

    .second-title{
        font-size: 1.5em;
        width: max-content;
    }

    .second-text{
        font-size: 1em;
    }

    .imagen-importante-container{
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: center;
    }

    .imagen-importante{
        width: 85%;
        border-radius: 35px;
        margin: 0;
    }

    .slider-container{
        max-height: 500px;
        margin-top: 10px;
    }

    .slider-imgs{
        max-width: 500px;
        max-height: 500px;
    }

    .hover-container{
        max-width: 800px;
    }

    .galeria-imgs{
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        
    }

    .return-up-button{
        position: absolute;
        top: 2200px;
        left: 20px
    }

    .whatsapp-item{
        width: 7.5%;
        padding: 5px;
        position: fixed;
        
        
    }
}